
a:hover {
    cursor:pointer;
   }

.tagscontainer > div {
    background-color: #eeeeee;
    margin: 10px;
}

.tagscontainer{
    display: flex;  
  flex-wrap: wrap;
}

.avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 1px;
}