<div class="container mt-5">

  <!-- spinner added -->
  <ngx-spinner></ngx-spinner>
  <nav>
    <!-- eventCategory -->
    <!-- ‘Coding Events’, ‘Bootcamp Events’, ‘Webinars’ and ‘Workshops’ -->
    <div class="nav nav-tab" style="overflow:auto;flex-wrap: nowrap;" id="nav-tab" role="tablist">
      <a class="nav-item nav-link eventCategoryclass" id="ALL_EVENTS" data-toggle="tab" [routerLink]="[]"
        [class.active]="isLinkActive('ALL_EVENTS')"
        [queryParams]="{'event_category':'ALL_EVENTS','event_sub_category':'Upcoming','tag_list':'','page':'1'}"
        role="tab" aria-controls=""><i class="fa fa-calendar" aria-hidden="true"></i> All Events</a>
      <a class="nav-item nav-link eventCategoryclass" id="WEBINAR" data-toggle="tab" [routerLink]="[]"
        [class.active]="isLinkActive('WEBINAR')"
        [queryParams]="{'event_category':'WEBINAR','event_sub_category':'Upcoming','tag_list':'','page':'1'}" role="tab"
        aria-controls=""><i class="fa fa-television" aria-hidden="true"></i> Webinars</a>
      <a class="nav-item nav-link eventCategoryclass" id="CODING_EVENT" data-toggle="tab" [routerLink]="[]"
        [class.active]="isLinkActive('CODING_EVENT')"
        [queryParams]="{'event_category':'CODING_EVENT','event_sub_category':'Upcoming','tag_list':'','page':'1'}"
        role="tab" aria-controls=""><i class="fa fa-code" aria-hidden="true"></i> Coding Events</a>
      <a class="nav-item nav-link eventCategoryclass" id="BOOTCAMP_EVENT" data-toggle="tab" [routerLink]="[]"
        [class.active]="isLinkActive('BOOTCAMP_EVENT')"
        [queryParams]="{'event_category':'BOOTCAMP_EVENT','event_sub_category':'Upcoming','tag_list':'','page':'1'}"
        role="tab" aria-controls=""><i class="fa fa-laptop" aria-hidden="true"></i> Bootcamp Events</a>
      <a class="nav-item nav-link eventCategoryclass" id="WORKSHOP" data-toggle="tab" role="tab" [routerLink]="[]"
        [class.active]="isLinkActive('WORKSHOP')"
        [queryParams]="{'event_category':'WORKSHOP','event_sub_category':'Upcoming','tag_list':'','page':'1'}"
        aria-controls=""><i class="fa fa-video-camera" aria-hidden="true"></i> Workshops</a>
    </div>
    <hr>
    <!-- eventSubCategory -->
    <!-- ‘Upcoming’, ‘Archived’ and ‘All Time Favorites’.  -->
    <div class="nav nav-tab mt-2" style="overflow:auto;flex-wrap: nowrap;" id="nav-tab" role="tablist">
      <a class="nav-item nav-link eventSubCategoryclass" id="Upcoming" data-toggle="tab" [routerLink]="[]"
        [class.active]="isLinkActive('Upcoming')"
        [queryParams]="{'event_category': eventCategory,'event_sub_category':'Upcoming','tag_list':'','page':'1'}"
        role="tab">Upcoming</a>
      <a class="nav-item nav-link eventSubCategoryclass" id="Archived" data-toggle="tab" [routerLink]="[]"
        [class.active]="isLinkActive('Archived')"
        [queryParams]="{'event_category': eventCategory,'event_sub_category':'Archived','tag_list':'','page':'1'}"
        role="tab">Archived</a>
      <a class="nav-item nav-link eventSubCategoryclass" id="All Time Favorites" data-toggle="tab" [routerLink]="[]"
        [class.active]="isLinkActive('All Time Favorites')"
        [queryParams]="{'event_category': eventCategory,'event_sub_category':'All Time Favorites','tag_list':'','page':'1'}"
        role="tab">All Time Favorites</a>
    </div>
    <hr>
  </nav>

  <!-- content row -->
  <div class="row">

    <!-- content col -->
    <div class="col-md-9 col-sm-12">

      <div class="row mt-5" *ngIf="results?.length!==0">
        <div class="col-md-6 col-sm-12" *ngFor="let card of results">

          <div class="card cardcss mb-3">
            <img class="card-img-top" [src]="card.mobile_cover_picture" onerror="this.src='../assets/course.jpg';"
              alt="Card image cap">
            <div class="card-body cardinfo">
              <div class="row" *ngIf="eventCategory==='ALL_EVENTS'">
                <div class="col">
                  <span style="background-color: #fc9d69;"
                    class="badge badge-info"><span>{{card.event_category}}</span></span>
                </div>
              </div>
              <h5 class="card-title coursename">{{card.name}}</h5>
              <div class="row">
                <div class="col">
                  <label class="eventheading">Starts on</label> <br>
                  <label class="courseinfo">{{card.event_start_time}}</label>
                </div>
                <div class="col">
                  <label class="eventheading">Entry Fee</label> <br>
                  <label class="courseinfo" *ngIf="card.fees===0;else elseblock">Free</label>
                  <ng-template #elseblock>
                    <label class="courseinfo">{{card.currency}} {{card.fees}}</label>
                  </ng-template>
                </div>
                <div class="col">
                  <label class="eventheading">Venue</label> <br>
                  <label class="courseinfo">{{card.venue}}</label>
                </div>
              </div>
              <div class="row" *ngIf="card?.seats_left">
                <div class="col-6">
                  <span class="badgeevent "><span style="color: #f3b68d;">{{card.seats_left}}</span> Seats
                    Left</span>
                </div>
                <div class="col-6">
                  <span class="badgeevent batchsize"><span style="color: #f3b68d;">{{card.seats_left +
                      card.seats_filled}}</span> Batch Size</span>
                </div>
              </div>
              <div>
              </div>
            </div>
            <ul class="list-group list-group-flush" style="list-style:none;">
              <li class="list-group-item shortdesc">{{card.short_desc}}</li>
            </ul>
            <div class="tagscard" *ngIf="card.card_tags.length!==0">
              <div class="nav nav-tabs tagsclass" *ngFor="let tag of card.card_tags">
                <!-- {{tag}} -->
                <a class="nav-item tagcard">{{tag}}</a>
              </div>
            </div>
            <div class="tagscontainer" *ngIf="card.card_tags.length===0">
              <p>No tag</p>
            </div>
            <div class="card-body">
              <span *ngFor="let user of card?.registered_users?.top_users">
                <img [src]="user.image_url" onerror="this.src='../assets/person.png';" alt="Avatar" class="avatar">
              </span> <br>
              <label>and {{card.registered_users.other_users_count}} others registered</label>

              <button *ngIf="eventSubCategory==='Upcoming'" type="button" class="btn registerbtn">
                Register Now
              </button>
            </div>
          </div>

        </div>
      </div>
      <!-- No events found  -->
      <div class="row mt-5" *ngIf="results?.length===0">
        <p class="noevent">No events found</p>
      </div>

      <!-- pagination -->
      <span style="float: right;" *ngIf="results?.length!==0">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="currpage" [pageSize]="20" [boundaryLinks]="true"
          (pageChange)="refreshpage()">
          <ng-template ngbPaginationPages let-page let-pages="pages">
            <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
              <div class="form-group d-flex flex-nowrap px-2">
                <label id="paginationInputLabel" for="paginationInput" class="col-form-label mr-2 ml-1">Page</label>
                <input #i type="text" inputmode="numeric" pattern="[0-9]*" class="form-control custom-pages-input"
                  id="paginationInput" [value]="currpage" (keyup.enter)="selectPage(i.value)"
                  (blur)="selectPage(i.value)" aria-labelledby="paginationInputLabel paginationDescription"
                  (input)="formatInput($any($event).target)" style="width: 3.5rem" />
                <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                  of {{pages.length}}</span>
              </div>
            </li>
          </ng-template>
        </ngb-pagination>
      </span>

    </div>

    <!-- tags col -->
    <div class="col-md-3 mt-5">
      <!-- tagList -->
      <h3>Tags</h3>
      <div class="tagscontainer">
        <div class="nav nav-tabs tagsclass" *ngFor="let tag of tags">
          <a class="nav-item nav-link " routerLinkActive="active" [class.activetag]="isLinkActive(tag)" [id]="tag"
            (click)="tagadd(tag)">{{tag}}</a>
        </div>
      </div>
      <div><a (click)="alltags()" class="addmoretags" *ngIf="!isalltags">see 10 more tags</a></div>

    </div>

  </div>


  <hr>

</div>

<!-- For Ref -->
<!-- ‘Coding Events’, ‘Bootcamp Events’, ‘Webinars’ and ‘Workshops’ -->
<!-- ‘Upcoming’, ‘Archived’ and ‘All Time Favorites’.  -->