<div class="container mt-5">
  <!-- spinner added -->
  <ngx-spinner></ngx-spinner>

  <!-- navbar component -->
  <app-navbar></app-navbar>
  <!-- content row -->
  <!-- <app-card></app-card> -->
  <div class="row">

    <!-- content col -->
    <div class="col-md-9 col-sm-12">
      <app-card></app-card>
    </div>

    <!-- tags col -->
    <div class="col-md-3 mt-5">
      <!-- tagList -->
      <app-tagsidebar></app-tagsidebar>
    </div>
  </div>
  <hr>
</div>

<!-- For Ref -->
<!-- ‘Coding Events’, ‘Bootcamp Events’, ‘Webinars’ and ‘Workshops’ -->
<!-- ‘Upcoming’, ‘Archived’ and ‘All Time Favorites’.  -->