
<div class="container mt-5">

  <!-- nav bar -->
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" id="ALL_EVENTS" data-toggle="tab" [routerLink]="[]"
        [queryParams]="{'event_category':'ALL_EVENTS','event_sub_category':'Upcoming','tag_list':'','offset':'0'}"
        role="tab" aria-controls="">All Events</a>
      <a class="nav-item nav-link" id="WEBINAR" data-toggle="tab" [routerLink]="[]"
        [queryParams]="{'event_category':'WEBINAR','event_sub_category':'Upcoming','tag_list':'','offset':'0'}"
        role="tab" aria-controls="">Webinars</a>
      <a class="nav-item nav-link" id="CODING_EVENT" data-toggle="tab" [routerLink]="[]"
        [queryParams]="{'event_category':'CODING_EVENT','event_sub_category':'Upcoming','tag_list':'','offset':'0'}"
        role="tab" aria-controls="">Coding Events</a>
      <a class="nav-item nav-link" id="BOOTCAMP_EVENT" data-toggle="tab" [routerLink]="[]"
        [queryParams]="{'event_category':'BOOTCAMP_EVENT','event_sub_category':'Upcoming','tag_list':'','offset':'0'}"
        role="tab" aria-controls="">Bootcamp Events</a>
      <a class="nav-item nav-link" id="WORKSHOP" data-toggle="tab" role="tab" [routerLink]="[]"
        [queryParams]="{'event_category':'WORKSHOP','event_sub_category':'Upcoming','tag_list':'','offset':'0'}"
        aria-controls="">Workshops</a>
    </div>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" id="Upcoming" data-toggle="tab" [routerLink]="[]"
        [queryParams]="{'event_category': eventCategory,'event_sub_category':'Upcoming','tag_list':'','offset':'0'}"
        role="tab">Upcoming</a>
      <a class="nav-item nav-link" id="Archived" data-toggle="tab" [routerLink]="[]"
        [queryParams]="{'event_category': eventCategory,'event_sub_category':'Archived','tag_list':'','offset':'0'}"
        role="tab">Archived</a>
      <a class="nav-item nav-link" id="All Time Favorites" data-toggle="tab" [routerLink]="[]"
        [queryParams]="{'event_category': eventCategory,'event_sub_category':'All Time Favorites','tag_list':'','offset':'0'}"
        role="tab">All Time Favorites</a>
    </div>
  </nav>

  <!-- content row -->
  <div class="row">

    <!-- content col -->
    <div class="col-9">

      <div class="row mt-5" *ngIf="results?.length!==0">
        <div class="col-6" *ngFor="let card of results">

          <div class="card cardcss mb-3">
            <img class="card-img-top" [src]="card.cover_picture" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{card.name}}</h5>
              <div class="row">
                <div class="col">
                  <label>Starts on</label> <br>
                  {{card.event_start_time}}
                </div>
                <div class="col">
                  <label>Entry Fee</label> <br>
                  <label *ngIf="card.fees===0;else elseblock">Free</label>
                  <ng-template #elseblock>
                    <label>INR {{card.fees}}</label>
                  </ng-template>
                </div>
                <div class="col">
                  <label>Venue</label> <br>
                  {{card.venue}}
                </div>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{card.short_desc}}</li>
              <div class="tagscontainer">
                <div *ngFor="let tag of card.card_tags">
                  {{tag}}
                </div>
              </div>
            </ul>
            <div class="card-body">
              <span *ngFor="let user of card?.registered_users?.top_users">
                <img [src]="user.image_url" onerror="this.src='../assets/person.png';" alt="Avatar" class="avatar">
              </span> <br>
              <label>and {{card.registered_users.other_users_count}} others registered</label>
            </div>
          </div>

        </div>
      </div>

      <div class="row mt-5" *ngIf="results?.length===0">
        <p class="noevent">No events found</p>
      </div>

    </div>

    <!-- tags col -->
    <div class="col-3 mt-5">

      <h3>Tags</h3>
      <div class="tagscontainer">
        <div *ngFor="let tag of tags">
          <a [id]="tag" (click)="tagadd(tag)">{{tag}}</a>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- For Ref -->
<!-- ‘Coding Events’, ‘Bootcamp Events’, ‘Webinars’ and ‘Workshops’ -->
<!-- ‘Upcoming’, ‘Archived’ and ‘All Time Favorites’.  -->