.container{
  border: 2px solid #eeeeee;
}

a:hover {
    cursor:pointer;
   }

.tagscontainer > div {
    background-color: #eeeeee;
    margin: 10px;
    /* border: 10px; */
}

.tagscontainer{
    display: flex;  
    flex-wrap: wrap;
}

.avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 1px;
}

.noevent{
  font-weight: 100;
  text-align: center;
  font-size: 60px;
  margin-top: 162px;
}

a{
  text-decoration: none;
  color: black;
}

.card{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tagsclass{
  text-align: center;
}

.active{
  color: #fa7328 !important;
}

.activetag{
  background-color: #fa7328 !important;
  color: white;
}

.registerbtn{
  background-color: #fc9d69 !important;
  color: white;
  float: right;
}

.cardcss{
  min-height: 400px;
}